@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import '~bootstrap-icons/font/bootstrap-icons';

:root {
  --primary-color: #00BA91;
  --secondary-color: #04E492;
  --header-color: #EBFFF7;
  --faded-green: rgba(4, 228, 146, 0.25);
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  cursor: pointer;
}

/* NAVBAR */

nav {
  padding: 8px 16px;
}

.navbar-logo {
  height: 24px;
  width: auto;
}


.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.5rem;
  text-decoration: none;
}

.bg-green {
  background-color: var(--header-color);
}

/* SIDEBAR */

.sidebar {
  min-height: calc(100vh - 56px - 46px);
  width: max(25vw, 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-check:focus+.btn, .btn:focus {
  box-shadow: 0 0 0 0.25rem var(--faded-green);
}

.primary-color {
  color: var(--primary-color);
}

a.primary-color:hover {
  color: var(--secondary-color);
}

/* FOOTER */

footer {
  margin: 0;
}

footer i {
  height: 24px;
  width: 24px;
}

/* MAIN */

.h2 {
  font-weight: 600;
}

.font-weight-light {
  font-weight: 300;
}

.h2 {
  font-weight: 600;
}

.form-check-input {
  background-color: var(--faded-green);
}

.form-check-input:checked{
  background-color: var(--primary-color);
  border-color: rgba(0, 0, 0, 0.25);
}

.dropdown {
  position: absolute;
  right: 0.75rem;
  top: 0.25rem;
}

/* MODAL */

.modal {
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  width: 70%;
  margin-bottom: 20vh;
}